.board{
        border:0.2rem solid black;
        width: fit-content;
        margin: auto;  
        padding: 0.2rem;
        margin-top: 4rem;
}
table{
        display: flex;
        flex-direction: column-reverse;

}
tr{
        display: flex;
}

table tr:nth-child(even){
     flex-direction: row-reverse;   
}
.dice{
        margin-top: 3rem;
        width: 10rem;
        height: 4rem;
        font-size:medium;
        font-weight: bolder;
        background-color: blanchedalmond;
        border:0.1rem solid black;
        border-radius: 10%;
}

.currentPlayer{
        margin-top: 1rem;
        font-weight: bold;
}