.board{
        width: fit-content;
        padding: 0.2rem;
        margin-top: 4rem;
        align-self: center;
        
}
tbody{
        display: flex;
        flex-direction: column-reverse;

}
tr{
        display: flex;
}

tbody tr:nth-child(even){
     flex-direction: row-reverse;   
}
.dice{
        margin-top: 1rem;
        width: 5rem;
        height: 2rem;
        font-size:medium;
        font-weight: bolder;
        background-color: blanchedalmond;
        border:0.1rem solid black;
        border-radius: 10%;
}

.currentPlayer{
        margin-top: 1rem;
        font-weight: bold;
        color: white;
        text-transform:uppercase;
}


.diceAndPlayer{
        margin-bottom: 1rem;
}

.winner{
        font-size: 2rem;
        display: block;
        color: beige;
        /* margin-top: 10rem; */

    
   
}