.content{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    transform: translate(-50%,-50%);
}
span{
    font-weight: bold;
    display: none;
}
ul{
    display: flex;
    list-style: none;
}
li{
    border: 1px solid black;
    padding: 0.5rem
}
li:first-child{
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
}
li:last-child{
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
}


li:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}